textarea {
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
}
body,button ,a{
  font-family: 'josef' !important
}

 .my__container {
     min-height: 100vh !important;
 }
.the__back__ground__image {
    background-image: url("../images/fucking_bimg.jpg");
    background-attachment: fixed;
    width: 100%;
    height: 30vh;
    background-position: center center;
    background-size: cover;
    background-position-y: 150px;
    background-repeat:no-repeat;
    margin-left: auto;
    margin-right: auto;    
}
.footer__div {
    margin-top: 20px;
    border-top: 1px solid #f79831;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 10px;
}

.footer__div p {
    color: #908f8c;
    text-align: center;
}
.should_be__padded_bottom {
    padding-bottom: 50px;
}